/* src/components/Account.module.css */
.content {
  margin-top: 10px; /* Adjust based on header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
  padding: 1rem; /* Add padding for spacing */
  
}
.card {
  background-color: #526D82;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(211, 230, 237, 0.2);
  font-family: 'Roboto', sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: 'Roboto', sans-serif;
  }
  
  .form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #DDE6ED;
  }
  
  .form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #DDE6ED;
    border-radius: 5px;
  }

  .form h3 {
    color: #DDE6ED;
  }

  .form button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: #27374D;
    color: #9DB2BF;
    border: none;
    transition: background-color 0.3s ease;
  }
  .form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #9AC8CD;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
  }
  
  .form button:hover {
    background-color: #9DB2BF;
    color: #27374D;
  }
  .link {
    color: #DDE6ED;
    text-decoration: none;
    cursor: pointer;
  }
  .link:visited {
    color: #DDE6ED;
    text-decoration: none;
    cursor: pointer; 
  }
  .link:active {
    color: #DDE6ED;
    text-decoration: none;
    cursor: pointer; 
  }
  .link:hover{
    color: #27374D;
  }