/* src/components/CreatePage.module.css */
.App {
  background-color: #27374D;
  color: #E1F7F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.content {
  margin-top: 90px; /* Adjust based on header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
  padding: 1rem; /* Add padding for spacing */
  
}
.card {
  background-color: #526D82;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(211, 230, 237, 0.2);
  font-family: 'Roboto', sans-serif;
}
.basicMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.quillContainer {
  height: 200px;
  margin-bottom: 1rem;
}

.switchEditor {
  margin-top: 20px;
  text-align: left;
}

.switchEditor a {
  color: #E1F7F5;
  text-decoration: none;
  font-weight: bold;
}

.switchEditor a:hover {
  text-decoration: underline;
}

.button {
  background-color: #27374D;
  color: #9DB2BF;
  border: none;
  padding: 1rem 1rem;
  border-radius: 2px;  
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s ease;
}

.buttonAdvanced {
  background-color: #27374D;
  color: #9DB2BF;
  border: none;
  padding: 1rem 1rem;
  border-radius: 2px;  
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  width: 200px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #9DB2BF;
  color: #27374D;
  box-shadow: 0 10px 10px 0 rgb(39, 55, 77, 0.2);
}

.buttonAdvanced:hover {
  background-color: #9DB2BF;
  color: #27374D;
  box-shadow: 0 10px 10px 0 rgb(39, 55, 77, 0.2);
}

.submitButton, .previewButton {
  background-color: #27374D;
  color: #9DB2BF;
  border: none;
  padding: 1rem 1rem;
  border-radius: 2px;
  width: 200px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 10px 10px;
  transition: background-color 0.3s ease;
}

.submitButton:hover, .previewButton:hover {
  background-color: #9DB2BF;
  color: #27374D;
  box-shadow: 0 10px 10px 0 rgb(39, 55, 77, 0.2);
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #9AC8CD;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.inputTitle {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #9AC8CD;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  width: 50rem;
}

.largeTextarea {
  height: 200px;  /* Adjust as necessary for your needs */
  resize: vertical;
  overflow: auto;
}

.largeTextarea::-webkit-scrollbar {
  width: 12px;
  scrollbar-width: thin;
}

.largeTextarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.largeTextarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.largeTextarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}
.buttonGroup {
  padding: auto;
}
