/* src/components/Header.module.css */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0E46A3;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
  
.title {
    margin: 0;
  }
  
.formContainer {
    margin-right: 50px;
  }
  
.button {
    background-color: red;
    color: #E1F7F5;
    border: none;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-align: center;
  }
.link {
    color: #E1F7F5;
    text-decoration: none;
}