/* src/components/Login.module.css */
.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-family: 'Roboto', sans-serif;
  }
  .card {
    background-color: #526D82;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgb(211, 230, 237, 0.2);
    font-family: 'Roboto', sans-serif;
  }
  