/* src/components/UserMenu.module.css */
.avatarContainer {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
   
  }
  
  .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .dropdownMenu {
    width: 150px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #526D82;
    color: #DDE6ED;
    box-shadow: 10px 10px 10px 0 rgb(211, 230, 237, 0.2);
    border-bottom: solid 2px #DDE6ED;
    border-left: solid 2px #DDE6ED;
    border-Right: solid 2px #DDE6ED;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    z-index: 1001;
    margin-top: 18px;
  }
  
  .dropdownMenu.show {
    display: block;
  }
  
  .dropdownMenu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #E1F7F5;
  }
  
  .dropdownMenu a:hover {
    background-color: #DDE6ED;
    color: #526D82;
  }
  